<body>
<div class = "main">

<div class="left">
<app-sidebar>

</app-sidebar>

<input type="file" (change)="onFileSelected($event)" accept="image/*">
</div>

<div class="right">
<app-head></app-head>
<div class="main-content">  
<div id="imagePreview">
    <img *ngIf="imageUrl" [src]="imageUrl" alt="Selected Image">
  </div>
  <div class="view-only-box">
    <p>Text 1</p>
    <input type="text" id="viewTextBox" value="This is view-only text" readonly>
    <p>Text 1</p>
    <input type="text" id="viewTextBox" value="This is view-only text" readonly>
    <p>Text 1</p>
    <input type="text" id="viewTextBox" value="This is view-only text" readonly>
    <p>Text 1</p>
    <input type="text" id="viewTextBox" value="This is view-only text" readonly>
  </div>
</div>
</div>

</div>
</body>