<div class="navbar">
  <h1>Product Annotation Tool</h1>
</div>

<!-- Provide file input if file is not already uploaded. -->
<div class="upload-container" *ngIf="!brochureFile">
  <label for="brochure">Upload a Brochure Image to work with:</label>
  <input
    id="brochure"
    type="file"
    accept="image/*"
    (change)="showImage($event)"
  />
</div>

<!-- Helper text to navigate the tool. -->
<h4>{{ helperText }}</h4>

<!-- Default text if no helperText is present. -->
<h4 *ngIf="!helperText && currentProductId">
  Working on Product: {{ currentProductId }}. Annotate a section and click on
  extract button to extract text.
</h4>

<!-- Tool Work Area is mounted if file is uploaded. -->
<div class="workspace" *ngIf="brochureFile">
  <!-- Left Section -->
  <image-cropper
    [imageFile]="brochureFile"
    [maintainAspectRatio]="false"
    format="png"
    (imageCropped)="imageCropped($event)"
  ></image-cropper>

  <!-- Right Section -->
  <div class="product-preview">
    <!-- Each product and its details can be independantly cropped and updated. -->
    <app-product-extractor
      *ngIf="currentProductId"
      [product]="getCurrentProduct()"
      [imageUrl]="croppedImage"
      (updateProduct)="setProductDetails($event)"
    ></app-product-extractor>
  </div>
</div>

<!-- Form to add a product. -->
<div *ngIf="brochureFile" class="form-container">
  <form (submit)="addProduct($event)">
    <input name="productId" type="text" />
    <button type="submit">Add Product</button>
  </form>

  <div *ngIf="products.length > 0">
    <label for="products">Change product: </label>
    <select id="products" (change)="changeCurrentProduct($event)">
      <option
        *ngFor="let product of products"
        [selected]="isCurrentProduct(product.id)"
        value="{{ product.id }}"
      >
        {{ product.id }}
      </option>
    </select>
  </div>
</div>

<!-- Group, Chain, Store assigner. -->
<app-chain-selector></app-chain-selector>

<!-- Table with extracted data of all products -->
<h3 *ngIf="products.length > 0">Product Summary:</h3>
<table *ngIf="products.length > 0" class="product-table">
  <!-- Header row. -->
  <tr>
    <!-- Render ID column at the beginning. -->
    <th>ID</th>
    <ng-container *ngFor="let item of products[0] | keyvalue">
      <th *ngIf="item.key !== 'id'">
        {{ item.key.toUpperCase() }}
      </th>
    </ng-container>
  </tr>

  <!-- Data rows. -->
  <tr *ngFor="let product of products">
    <!-- Render IDs at the beginning. -->
    <td>{{ product.id }}</td>
    <ng-container *ngFor="let item of product | keyvalue">
      <td *ngIf="item.key !== 'id'">
        {{ item.value }}
      </td>
    </ng-container>
  </tr>
</table>

<!-- Submit product data -->
<button *ngIf="products.length > 0">Submit</button>
