.workspace {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-container {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
