<div class="navbar">
  <h1>Annotator</h1>

  <div *ngIf="brochureFile" class="form-container">
    <!-- Form to add a product. -->
    <form (submit)="addProduct($event)">
      <input name="productId" type="text" />
      <button type="submit">Add Product</button>
    </form>

    <div *ngIf="products.length > 0">
      <label for="products">Choose a product: </label>
      <select id="products" (change)="changeCurrentProduct($event)">
        <option *ngFor="let product of products" [selected]="isCurrentProduct(product.id)" value="{{product.id}}">{{ product.id }}</option>
      </select>
    </div>
  </div>
</div>

<!-- Provide file input if file is not already uploaded. -->
<div *ngIf="!brochureFile">
  <label for="brochure">Upload a Brochure to work with</label>
  <input
    id="brochure"
    type="file"
    accept="image/*"
    (change)="showImage($event)"
  />
</div>

<!-- Helper text to navigate the tool. -->
<h4 *ngIf="!helperText && currentProductId">Working on Product: {{currentProductId}}</h4>
<h4>{{ helperText }}</h4>

<!-- Tool Work Area is mounted if file is uploaded. -->
<div class="workspace" *ngIf="brochureFile">
  <!-- Left Section -->
  <image-cropper
    [imageFile]="brochureFile"
    [maintainAspectRatio]="false"
    format="png"
    (imageCropped)="imageCropped($event)"
  ></image-cropper>

  <!-- Right Section -->
  <div class="product-preview">

    <!-- Each product and its details can be independantly cropped and updated. -->
    <app-product-extractor *ngIf="currentProductId" 
        [product]="getCurrentProduct()" 
        [currentCrop]="croppedImage"
        (updateProduct)="setProductDetails($event)"
    ></app-product-extractor>
  </div>
</div>

<!-- Table with extracted data of all products -->
<h2 *ngIf="products.length > 0">A table is rendered here with data of all products. Data can be submitted to an API.</h2>
