.workspace {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    background-color: #E6FFFA;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #2C3639;
}

h4 {
    text-align: center;
    margin-bottom: 20px;
    color: #555;
}

.navbar {
    padding: 15px;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upload-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    font-size: 1.5rem;
}

.form-container {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-container > form {
    display: flex;
    gap: 10px;
}

image-cropper {
    --cropper-overlay-color: rgba(0, 0, 0, 0.5);
}

.product-preview {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

th, td {
    padding: 10px;
}

.submit-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
