<div class="container">
  <!-- Show preview of current crop -->
  <div class="preview-section">
    <span>Preview of annotated section</span>
    <div class="cropped-image-container">
      <img [src]="imageUrl" />
    </div>
  </div>

  <!-- Button for each attribute to get OCR text. -->
  <div class="product-attribute-container">
    <ng-container *ngFor="let item of product | keyvalue">
      <div class="product-attribute" *ngIf="PRODUCT_LABELS[item.key]">
        <label [for]="item.key">{{ PRODUCT_LABELS[item.key] }}</label>
        <button [id]="item.key" [name]="item.key" (click)="handleClick($event)">
          Extract
        </button>

        <!-- User-editable prefilled text input. -->
        <input
          [name]="item.key"
          [value]="item.value"
          (change)="handleChange($event)"
        />
      </div>
    </ng-container>
  </div>
</div>
